<!DOCTYPE html>
<html>
    {%if title%}
    <title>{{title}}</title>
    {%else%}
    <title>GeekGrades - Index</title>
    {%endif%}
    {%block head%}{%endblock%}
    <meta name="author" content="william,matheus venera, jean, henrique ">
    <meta charset="utf-8">
    <meta name="description" content="site de avaliação de jogos">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}">
    <link rel="icon" href="logo.png" sizes="16x16" type="images/logo.png"> 
    <link href="https://fonts.googleapis.com/css?family=McLaren|Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    {%block corpo%} 
   
    
    {%endblock%}
</body>
<footer id="footer">
    {%block footer%} 
    
    <div class="borda">
        <p>Curta nossas páginas e fale conosco:</p>	
        <a href="https://www.facebook.com/"><img src="{{url_for('static',filename='images/face.png')}}" alt="facebook" width="50" height="50"></a>
        <a href="https://web.whatsapp.com/"><img src="{{url_for('static',filename='images/Whats.png')}}" alt="whatsapp" width="45" height="45"></a>
        <a href="https://www.instagram.com/"><img src="{{url_for('static',filename='images/insta.png')}}" alt="instagram" width="45" height="45"></a>
        
    </div> 
    {%endblock%}
</footer>
</html>